#planspage{
    width: 100vw;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.plan{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border: 2px solid yellow;
    border-radius: 5%;
    padding: 10px;
}
.plan img{
    margin: auto;
}
.plan h2{
    width: 25vw;
    color: white;
    margin:  0 auto;
    margin-top: 2vh;
    text-decoration: underline;
}

.plan h3{
    margin: auto;
    margin-top: 2vh;
    width: 35vw;
    text-shadow: none;
}
.mainul{
    margin-top: 2vh;
}

.plan li{
    width: 15vw;
    text-align: left;
    font-size:large;
}
#acorn,#banna{
    width: 13vw;
}
#satimg{
    width: 24vw;
}
#gradepics{
    display: flex;
    flex-direction: column;
}
@media (max-width:800px) {
    .plan{
        margin-bottom: 25px;
    }
    .plan img, .plan h2, .plan h3, .plan li, #acorn,#banna{
        width:70vw
    }
    .plan li{
        width: 50vw;
    }
}